---
const site = import.meta.env.SITE;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Builtec</title>
  </head>
  <body class="font-sans bg-gray-50">
    <slot name="header" />
    <main class="w-full min-h-screen">
      <slot />
    </main>
    <slot name="footer" />
  </body>
</html>
